:root {
  font-size: 10px;

  /* colors */
  --blue: hsl(246, 80%, 60%);
  --light-orange: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  /* font weights */
  --fw-medium: 500;
  --fw-light: 400;
  --fw-thin: 300;

  /* font sizes */
  --fs-mega-d: 5.6rem;
  --fs-mega-m: 3.2rem;
  --fs-mega: var(--fs-mega-d);
  --lh-mega-d: 6.6rem;
  --lh-mega-m: 3.8rem;
  --lh-mega: var(--lh-mega-d);

  --fs-kilo-d: 4rem;
  --fs-kilo-m: 2.4rem;
  --fs-kilo: var(--fs-kilo-d);
  --lh-kilo-d: 4.7rem;
  --lh-kilo-m: 2.8rem;
  --lh-kilo: var(--lh-kilo-d);

  --fs-mini: 1.8rem;
  --lh-mini: 2.1rem;

  --fs-micro: 1.5rem;
  --lh-micro: 1.8rem;

  /* border raduis */
  --border-radius: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
}

main {
  height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  :root {
    --fs-mega: var(--fs-mega-m);
    --lh-mega: var(--lh-mega-m);
    --fs-kilo: var(--fs-kilo-m);
    --lh-kilo: var(--lh-kilo-m);
  }
}
